.menu
  z-index: 99
  position: fixed
  overflow-y: auto

  display: flex
  flex-direction: column

  width: 60px
  height: 100%

  top: 0
  left: 0

  box-shadow: 14px 0 103px rgb(0 0 0 / 8%)

  transition-property: transform, opacity, width
  transition-duration: .4s

  @media (min-width: $break-point--x-small)
    width: 90px

.menu--hidden
  opacity: 0
  transform: translateX(-60px)

  @media (min-width: $break-point--x-small)
    transform: translateX(-90px)

.menu__switch
  width: 100%
  height: 90px

  padding: 30px 0
  border: none

  background-color: var(--color-figure)

  cursor: pointer

  & rect
    transition: fill .2s
    fill: var(--color-background)

  &:hover rect,
  &:focus rect
    fill: var(--color-figure--accent)

.menu__content
  flex-grow: 1

  width: 100%
  padding: 20px 0

  background-color: var(--color-background)

.menu__social
  margin: 0
