.menu
  z-index: 999
  position: fixed

  display: flex
  flex-direction: column

  width: 60px
  height: 100%

  top: 0
  left: 0

.menu__switch
  width: 100%
  height: 90px

  padding: 0
  border: none

  background-color: var(--color-figure)

  cursor: pointer

  & rect
    transition: fill .2s
    fill: var(--color-background--accent)

  &:hover rect
    fill: var(--color-figure--accent)

.menu__content
  flex-grow: 1

  width: 100%

  background-color: var(--color-background--accent)

.menu__social
  margin: 0
