mixin helpers

  -
    getClassName = (name, parent) => (
            parent ? `${parent}__${name} ${name}` : name
    );

    ucFirst = (str) => {

      if (!str) return str;
      return str[0].toUpperCase() + str.slice(1);

    };
