include favicon
include sprite

doctype html

block variables

html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content=`${title}.`)
    +favicon
    link(rel="manifest", href="manifest.json")
    title #{title}
  body.app
    +sprite
    block header
    block main
