.popup
  z-index: 199
  position: fixed

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  top: 0
  right: 0
  left: 0
  bottom: 0

  background-color: var(--color-background--alternative)

.popup__image
  max-width: 100%
  height: auto

  vertical-align: middle

  object-fit: cover
  object-position: center
