.popup
  z-index: 199
  overflow-y: auto
  position: fixed

  display: flex

  top: 0
  right: 0
  left: 0
  bottom: 0

  background-color: var(--color-background--alternative)

.popup__picture-wrapper
  max-width: 1280px
  margin: auto

  @media (min-width: $break-point--picture)
    max-width: 72%  // from the bulldozer

.popup__picture-wrapper--zoomed
  max-width: 1920px

.popup__image
  width: 100%
  height: auto

  vertical-align: middle

  @media (min-width: $break-point--picture)
    max-height: 100vh
    object-position: center
    object-fit: cover

  .popup__picture-wrapper--zoomed &
    max-height: none
    height: auto

.popup__controls-wrapper
  box-sizing: border-box
  position: fixed

  display: flex
  justify-content: center
  align-items: center
  gap: 20px

  top: 0
  left: 0

  width: 100%
  padding: 10px

  background-color: transparent

  @media (min-width: $break-point--picture)
    gap: 40px

.popup__button
  display: flex
  justify-content: center
  align-items: center

  width: 44px
  height: 44px
  padding: 0

  border-radius: 50%
  border: none
  background-color: rgb(#808080, .4)

  cursor: pointer
  transition: background-color .2s

  & > svg
    width: 50%
    height: 50%

    fill: var(--color-text-light)

  &:hover, &:focus
    background-color: rgb(#fff, .4)
    outline: none

.popup__button--back-arrow
  margin-left: auto

  @media (min-width: $break-point--picture)
    margin-left: 0

.popup__button--forward-arrow
  transform: rotate(180deg)

.popup__button--scale

  display: none

  & > .popup__minus-icon
    display: none

  @media (min-width: $break-point--picture)
    display: flex

.popup__button--minus

  & > .popup__plus-icon
    display: none

  & > .popup__minus-icon
    display: block

