include ../../templates/picture

-
  locals.path = "./img/gallery/"
  locals.breakpoint = 640
  locals.parent = "popup"

div.popup
  div.popup__picture-wrapper
    +picture(locals, true)
  button.popup__button.popup__button--cross(type="button")
    svg(viewBox="0 0 24 24" width="24" height="24" role="presentation" aria-hidden="true")
      use(href="#cross-icon")
