$break-point--x-small: 426px
$break-point--small: 576px
$break-point--picture: 640px
$break-point--medium: 768px
$break-point--large: 992px
$break-point--extra-large: 1200px
$break-point--4K: 2560px

\:root

  --color-text: #0d3370
  --color-text--alternative: #00a86b
  --color-text--light: #F4F1DE
  --color-text--accent: #BE1931

  --color-background: #F4F1DE
  --color-background--accent: #F2CC8F
  --color-background--alternative: #3D405B

  --color-figure: #3D405B
  --color-figure--accent: #81B29A
