extends ../../templates/staffolding

include ../../components/app-header/app-header

block variables
  - title = 'Akame - impressive online portfolio with full screen photos'
  - data = require('./index.json')

block header
  +app-header
block main
  main.app-content
