.about
  --about-padding: 10px

  display: flex
  flex-direction: column
  gap: 20px

  padding-bottom: var(--about-padding)

  color: var(--color-text)

.about__main
  display: flex
  flex-direction: column
  gap: 20px

.about__header
  position: relative
  display: flex
  flex-direction: column-reverse
  gap: 20px

.about__title
  margin: 0
  padding: 0 var(--about-padding)

  font-weight: 500
  font-size: 36px
  line-height: 1.2

.about__title--skills
  text-align: center

.about__greetings-name
  font-weight: 700

.about__image
  width: 100%
  height: auto

  vertical-align: middle

  @media (min-width: $break-point--x-small)
    height: 100vh
    object-fit: cover
    object-position: right

.about__text-wrapper
  display: flex
  flex-direction: column
  gap: 20px

  padding: 0 var(--about-padding)

.about__text
  margin: 0

  font-weight: 500
  font-size: 15px
  line-height: 1.5

  @media (min-width: $break-point--small)
    font-size: 16px

.about__skills
  display: flex
  flex-direction: column
  gap: 20px

.about__skills-wrapper
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  gap: 10px

  padding: var(--about-padding)
