.about
  display: grid
  row-gap: 20px
  height: 100%

  color: var(--color-text)

  @media (min-width: $break-point--medium)
    grid-template-rows: min-content auto auto
    grid-template-columns: 1fr 1fr
    row-gap: 40px
    column-gap: 20px

  @media (min-width: $break-point--large)
    grid-template-rows: auto auto
    row-gap: 20px

  @media (min-width: 1440px)
    grid-template-rows: auto
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 5%

.about__text-wrapper
  order: 1

  display: flex
  flex-direction: column
  gap: 20px

  padding: 0 10px

  @media (min-width: $break-point--medium)
    justify-content: center
    padding-right: 0

  @media (min-width: $break-point--large)
    padding-right: 10px
    padding-left: 0

  @media (min-width: $break-point--extra-large)
    padding: 0

.about__title
  margin: 0

  font-weight: 500
  font-size: 36px
  line-height: 1.2

  @media (min-width: $break-point--extra-large)
    font-size: 40px

.about__title--greetings
  @media (min-width: $break-point--medium)
    padding-top: 20px

.about__title--skills
  text-align: center

.about__greetings-name
  font-weight: 700

.about__picture
  order: 0

  @media (min-width: $break-point--medium)
    order: 1

  @media (min-width: $break-point--large)
    grid-column: 1 / 2
    grid-row: 1 / -1
    transform: scale(-1, 1)

.about__image
  width: 100%
  height: auto

  vertical-align: middle

  @media (min-width: 512px)
    height: 100vh
    object-position: center
    object-fit: cover

  @media (min-width: $break-point--medium)
    height: 100%

.about__text
  margin: 0

  font-weight: 500
  font-size: 15px
  line-height: 1.5
  transition: font-size .4s

  @media (min-width: $break-point--small)
    font-size: 16px

  @media (min-width: $break-point--extra-large)
    font-size: 18px

.about__skills
  order: 1

  display: flex
  flex-direction: column
  gap: 20px

  @media (min-width: $break-point--medium)
    grid-column: 1 / -1
    align-self: center

  @media (min-width: $break-point--large)
    grid-column: 2 / -1
    grid-row: 2 / -1

  @media (min-width: 1440px)
    grid-column: 3 / -1
    grid-row: auto

.about__skills-wrapper
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  gap: 10px
  transition: gap .4s

  padding: 10px

  @media (min-width: $break-point--small)
    gap: 14px

  @media (min-width: $break-point--medium)
    max-width: 80%
    align-self: center

.about__footer
  order: 1
  align-self: end

  min-height: 20px
  background-image: linear-gradient(to left, var(--color-text--alternative), var(--color-text))

  @media (min-width: $break-point--medium)
    grid-column: 1 / -1

  @media (min-width: $break-point--large)
   display: none
