include ../../templates/picture

section.intro
  h2.visually-hidden The best photos

  ul.intro__list

    -

      let pictures = locals.pictures;

    each item, index in pictures
      - className = index > 0 ? "intro__item intro__item--hidden intro__item--moved" : "intro__item"
      li(class=className data-index=index+1 style=`z-index: ${index+1}`)
        -
          item.path = "img/pictures/";
          item.parent = "intro"

        +picture(item)
