.intro
  width: 100%
  height: 100%

.intro__list
  position: relative
  display: flex
  overflow: hidden

  width: 100%
  height: 100%

  margin: 0
  padding: 0

  list-style: none

.intro__item
  position: absolute
  overflow: hidden

  top: 0
  left: 0

  display: flex
  justify-content: center
  align-items: center

  width: 100%
  height: 100%

  background-color: var(--color-background)

  transition: opacity 1s

  &[data-value="1"]
    background-color: tomato

  &[data-value="2"]
    background-color: lightblue

  &[data-value="3"]
    background-color: lightgreen

  &[data-value="4"]
    background-color: skyblue

  &[data-value="5"]
    background-color: mediumpurple

  @media (min-width: $break-point--medium)
    opacity: 1

    &[data-value="2"]
      transform: translateX(60%)

    &[data-value="3"]
      transform: translateX(70%)

    &[data-value="4"]
      transform: translateX(80%)

    &[data-value="5"]
      transform: translateX(90%)

.intro__item--hidden
  opacity: 0

  @media (min-width: $break-point--medium)
    opacity: 1
