.copyright
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  margin: 0
  padding: 0 6px

  font-weight: 500
  color: var(--color-text--accent)

  & > span
    text-align: center

.copyright__heart
  position: relative

  width: 16px
  height: 16px

  transform: translateY(2px)

.copyright__name
  font-weight: 600
