include ../../templates/helpers
include ../../templates/picture

+helpers

-
  className = getClassName("photo", locals.parent)
  locals.path = "./img/gallery/"
  locals.breakpoint = 768
  locals.parent = "photo"

li(class=className)
  +picture(locals, true)
