include ../../templates/picture

-
  data = Object.assign({}, locals)
  data.path = "./img/gallery/"
  data.breakpoint = 768
  data.parent = "photo"

li.photo(data-ratio = (data.height / data.width).toFixed(2))
  +picture(data, true)
