.photo
  display: flex
  flex-direction: column

  box-shadow: 14px 0 103px rgba(0, 0, 0, 0.08)
  background-color: var(--color-background--alternative)

  transition: margin .4s
  cursor: pointer

.photo__picture
  flex-grow: 1

.photo__image
  max-width: 100%
  height: 100%

  vertical-align: middle

  object-position: center
  object-fit: cover
